<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xingqiao.system.mapper.employee.SysEmployeeQualificationsExtMapper">
    <delete id="deleteByBusinessId">
        delete from sys_employee_qualifications
               where employee_info_id = #{businessId}
    </delete>
</mapper>