<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingqiao.order.mapper.CustomerTradeOrdersMapper">

    <resultMap type="com.xingqiao.order.domain.CustomerTradeOrders" id="CustomerTradeOrdersResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="accountId"    column="account_id"    />
        <result property="securityId"    column="security_id"    />
        <result property="orderType"    column="order_type"    />
        <result property="direction"    column="direction"    />
        <result property="price"    column="price"    />
        <result property="quantity"    column="quantity"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="filledQuantity"    column="filled_quantity"    />
        <result property="filledAmount"    column="filled_amount"    />
        <result property="avgFilledPrice"    column="avg_filled_price"    />
        <result property="estimatedFee"    column="estimated_fee"    />
        <result property="estimatedTax"    column="estimated_tax"    />
        <result property="actualFee"    column="actual_fee"    />
        <result property="actualTax"    column="actual_tax"    />
        <result property="orderTime"    column="order_time"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="reportTime"    column="report_time"    />
        <result property="cancelTime"    column="cancel_time"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="conditionType"    column="condition_type"    />
        <result property="conditionValue"    column="condition_value"    />
        <result property="riskChecked"    column="risk_checked"    />
        <result property="riskRemark"    column="risk_remark"    />
        <result property="version"    column="version"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCustomerTradeOrdersVo">
        select id, user_id, account_id, security_id, order_type, direction, price, quantity, amount, status, filled_quantity, filled_amount, avg_filled_price, estimated_fee, estimated_tax, actual_fee, actual_tax, order_time, expire_time, report_time, cancel_time, finish_time, condition_type, condition_value, risk_checked, risk_remark, version, remark, create_by, create_time, update_by, update_time from customer_trade_orders
    </sql>

    <select id="selectCustomerTradeOrdersList" parameterType="com.xingqiao.order.domain.CustomerTradeOrders" resultMap="CustomerTradeOrdersResult">
        <include refid="selectCustomerTradeOrdersVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="accountId != null  and accountId != ''"> and account_id = #{accountId}</if>
            <if test="securityId != null  and securityId != ''"> and security_id = #{securityId}</if>
            <if test="orderType != null "> and order_type = #{orderType}</if>
            <if test="direction != null "> and direction = #{direction}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="filledQuantity != null "> and filled_quantity = #{filledQuantity}</if>
            <if test="filledAmount != null "> and filled_amount = #{filledAmount}</if>
            <if test="avgFilledPrice != null "> and avg_filled_price = #{avgFilledPrice}</if>
            <if test="estimatedFee != null "> and estimated_fee = #{estimatedFee}</if>
            <if test="estimatedTax != null "> and estimated_tax = #{estimatedTax}</if>
            <if test="actualFee != null "> and actual_fee = #{actualFee}</if>
            <if test="actualTax != null "> and actual_tax = #{actualTax}</if>
            <if test="orderTime != null "> and order_time = #{orderTime}</if>
            <if test="expireTime != null "> and expire_time = #{expireTime}</if>
            <if test="reportTime != null "> and report_time = #{reportTime}</if>
            <if test="cancelTime != null "> and cancel_time = #{cancelTime}</if>
            <if test="finishTime != null "> and finish_time = #{finishTime}</if>
            <if test="conditionType != null "> and condition_type = #{conditionType}</if>
            <if test="conditionValue != null "> and condition_value = #{conditionValue}</if>
            <if test="riskChecked != null "> and risk_checked = #{riskChecked}</if>
            <if test="riskRemark != null  and riskRemark != ''"> and risk_remark = #{riskRemark}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>

    <select id="selectCustomerTradeOrdersById" parameterType="String" resultMap="CustomerTradeOrdersResult">
        <include refid="selectCustomerTradeOrdersVo"/>
        where id = #{id}
    </select>

    <insert id="insertCustomerTradeOrders" parameterType="com.xingqiao.order.domain.CustomerTradeOrders" useGeneratedKeys="true" keyProperty="id">
        insert into customer_trade_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="accountId != null and accountId != ''">account_id,</if>
            <if test="securityId != null and securityId != ''">security_id,</if>
            <if test="orderType != null">order_type,</if>
            <if test="direction != null">direction,</if>
            <if test="price != null">price,</if>
            <if test="quantity != null">quantity,</if>
            <if test="amount != null">amount,</if>
            <if test="status != null">status,</if>
            <if test="filledQuantity != null">filled_quantity,</if>
            <if test="filledAmount != null">filled_amount,</if>
            <if test="avgFilledPrice != null">avg_filled_price,</if>
            <if test="estimatedFee != null">estimated_fee,</if>
            <if test="estimatedTax != null">estimated_tax,</if>
            <if test="actualFee != null">actual_fee,</if>
            <if test="actualTax != null">actual_tax,</if>
            <if test="orderTime != null">order_time,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="reportTime != null">report_time,</if>
            <if test="cancelTime != null">cancel_time,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="conditionType != null">condition_type,</if>
            <if test="conditionValue != null">condition_value,</if>
            <if test="riskChecked != null">risk_checked,</if>
            <if test="riskRemark != null">risk_remark,</if>
            <if test="version != null">version,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="accountId != null and accountId != ''">#{accountId},</if>
            <if test="securityId != null and securityId != ''">#{securityId},</if>
            <if test="orderType != null">#{orderType},</if>
            <if test="direction != null">#{direction},</if>
            <if test="price != null">#{price},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="amount != null">#{amount},</if>
            <if test="status != null">#{status},</if>
            <if test="filledQuantity != null">#{filledQuantity},</if>
            <if test="filledAmount != null">#{filledAmount},</if>
            <if test="avgFilledPrice != null">#{avgFilledPrice},</if>
            <if test="estimatedFee != null">#{estimatedFee},</if>
            <if test="estimatedTax != null">#{estimatedTax},</if>
            <if test="actualFee != null">#{actualFee},</if>
            <if test="actualTax != null">#{actualTax},</if>
            <if test="orderTime != null">#{orderTime},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="reportTime != null">#{reportTime},</if>
            <if test="cancelTime != null">#{cancelTime},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="conditionType != null">#{conditionType},</if>
            <if test="conditionValue != null">#{conditionValue},</if>
            <if test="riskChecked != null">#{riskChecked},</if>
            <if test="riskRemark != null">#{riskRemark},</if>
            <if test="version != null">#{version},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCustomerTradeOrders" parameterType="com.xingqiao.order.domain.CustomerTradeOrders">
        update customer_trade_orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="accountId != null and accountId != ''">account_id = #{accountId},</if>
            <if test="securityId != null and securityId != ''">security_id = #{securityId},</if>
            <if test="orderType != null">order_type = #{orderType},</if>
            <if test="direction != null">direction = #{direction},</if>
            <if test="price != null">price = #{price},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="filledQuantity != null">filled_quantity = #{filledQuantity},</if>
            <if test="filledAmount != null">filled_amount = #{filledAmount},</if>
            <if test="avgFilledPrice != null">avg_filled_price = #{avgFilledPrice},</if>
            <if test="estimatedFee != null">estimated_fee = #{estimatedFee},</if>
            <if test="estimatedTax != null">estimated_tax = #{estimatedTax},</if>
            <if test="actualFee != null">actual_fee = #{actualFee},</if>
            <if test="actualTax != null">actual_tax = #{actualTax},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="reportTime != null">report_time = #{reportTime},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="conditionType != null">condition_type = #{conditionType},</if>
            <if test="conditionValue != null">condition_value = #{conditionValue},</if>
            <if test="riskChecked != null">risk_checked = #{riskChecked},</if>
            <if test="riskRemark != null">risk_remark = #{riskRemark},</if>
            <if test="version != null">version = #{version},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerTradeOrdersById" parameterType="String">
        delete from customer_trade_orders where id = #{id}
    </delete>

    <delete id="deleteCustomerTradeOrdersByIds" parameterType="String">
        delete from customer_trade_orders where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <!-- 根据用户ID和日期范围查询交易订单 -->
    <select id="selectCustomerTradeOrdersByUserIdAndDateRange" resultMap="CustomerTradeOrdersResult">
        <include refid="selectCustomerTradeOrdersVo"/>
        from customer_trade_orders
        where user_id = #{userId}
          and order_time between #{startDate} and #{endDate}
    </select>
</mapper>