<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingqiao.system.mapper.CustomerExtMapper">
    
    <delete id="deleteInvestmentPreferenceByUserId" >
        delete from sys_customer_investment_preference where user_temp_id = #{userTempId}
    </delete>
    <delete id="deleteCustomerInfo">
        delete from sys_customer_info where user_temp_id = #{userTempId}
    </delete>
    <delete id="deleteSalesOpportunityByUserTempId">
        delete from sales_opportunity where user_temp_id = #{userTempId}
    </delete>
    <delete id="deleteCustomerFinancialByUserId">
        delete from sys_customer_financial where user_temp_id = #{userTempId}
    </delete>
    <select id="selectSysCustomerInfoByIds"
            resultType="com.xingqiao.system.api.model.CustomerListInnerResponse">
        select id, user_temp_id as userTempId, avatar, full_name as fullName, age, gender,
               phone_number as phoneNumber, email, marital_status as maritalStatus, status, create_time as createTime
        from sys_customer_info where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>