<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingqiao.system.mapper.SysCustomerInvestmentPreferenceMapper">

    <resultMap type="com.xingqiao.system.domain.SysCustomerInvestmentPreference" id="SysCustomerInvestmentPreferenceResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userTempId"    column="user_temp_id"    />
        <result property="productType"    column="product_type"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysCustomerInvestmentPreferenceVo">
        select id, user_id, user_temp_id, product_type, status, remark, create_by, create_time, update_by, update_time from sys_customer_investment_preference
    </sql>

    <select id="selectSysCustomerInvestmentPreferenceList" parameterType="com.xingqiao.system.domain.SysCustomerInvestmentPreference" resultMap="SysCustomerInvestmentPreferenceResult">
        <include refid="selectSysCustomerInvestmentPreferenceVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userTempId != null "> and user_temp_id = #{userTempId}</if>
            <if test="productType != null  and productType != ''"> and product_type = #{productType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectSysCustomerInvestmentPreferenceById" parameterType="Long" resultMap="SysCustomerInvestmentPreferenceResult">
        <include refid="selectSysCustomerInvestmentPreferenceVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysCustomerInvestmentPreference" parameterType="com.xingqiao.system.domain.SysCustomerInvestmentPreference" useGeneratedKeys="true" keyProperty="id">
        insert into sys_customer_investment_preference
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userTempId != null">user_temp_id,</if>
            <if test="productType != null">product_type,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userTempId != null">#{userTempId},</if>
            <if test="productType != null">#{productType},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysCustomerInvestmentPreference" parameterType="com.xingqiao.system.domain.SysCustomerInvestmentPreference">
        update sys_customer_investment_preference
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userTempId != null">user_temp_id = #{userTempId},</if>
            <if test="productType != null">product_type = #{productType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysCustomerInvestmentPreferenceById" parameterType="Long">
        delete from sys_customer_investment_preference where id = #{id}
    </delete>

    <delete id="deleteSysCustomerInvestmentPreferenceByIds" parameterType="String">
        delete from sys_customer_investment_preference where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>